p,a {
    color: rgb(251, 255, 0);
    width: 250px;
}

html {
    font-family: "Rajdhani"; 
    background-color: rgb(255, 208, 0);
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: -4px 3px 1px rgb(216, 66, 66);
}
p, ul{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}
body {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.959);
    border: 5px solid black;
    padding: 0 20px 20px;
    margin: 0 auto;
}

h1 {
    color: rgba(255, 238, 0, 0);
    
}